<h1>Listing seasons</h1>
<%= link_to 'New Season', new_admin_season_path %>
<br /><br />

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= season.name %></td>
    <td><%= season.active %></td>
    <td><%= season.notes %></td>
    <td><%= link_to 'Show', [:admin, season] %></td>
    <td><%= link_to 'Edit', edit_admin_season_path(season) %></td>
    <td><%= link_to 'Destroy', [:admin, season], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Season', new_admin_season_path %>
