<p>
  <b>Name:</b>
  <%= @season.name %>
</p>

<p>
  <b>Active:</b>
  <%= @season.active %>
</p>

<p>
  <b>Notes:</b>
  <%= @season.notes %>
</p>


<%= link_to 'Edit', edit_admin_season_path(@season) %> |
<%= link_to 'Back', admin_seasons_path %>
