<div class="block notice">
  <h3>MNF Rankings</h3>
  <div class="content">
	<table>
	  <tr>
	    <th>Rank</th>
		<th></th>
		<th class="left">Name</th>
		<th>Pts</th>
		<th>W%</th>
	  </tr>
	<% setRank(calc_stats(getPlayersWhoHavePlayed(@participants),@season)).each do |p| %>
	  <tr onclick="location.href=/users/' <%= p[:id] %>'">
	    <td><b><%= p[:rank] %></b></td>
		<td class="left"><%= link_to image_tag(p[:img], :height => 25), p[:user] %></td>
		<td class="left"><%= link_to p[:mnfname], p[:user] %><%=  %></td>
		<td><b><%= p[:total_points] %></b></td>
		<td><%= number_to_percentage(p[:win_ratio], :precision => 0) %></td>
		<td></td>
	  </tr>
	<% end %>
	</table>
  </div>
</div>