<% content_for :sidebar, render(:partial => 'sidebar') -%>

<div class="report">

<%= render 'posts/post' %>

<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>

<% if @post.comments.count > 0 %>
<h2>Comments</h2>
<% end %>
<%= render @post.comments %>

</div>

<div class="stats">
	<%= render 'posts/participants' %>
</div>
<br class="clear">