<div class="block" id="block-login">
<h2><%= resource_name.to_s.humanize %> Settings</h2>
<div class="content login">

<h3>Change Details</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

<h4>Change Password</h4>

  <div><%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <br /><br />
  <div><%= f.label :current_password, "Enter current password" %> <i>(we need your current password to confirm all changes)</i><br />
  <%= f.password_field :current_password %></div>
  <br />
  <div><%= f.submit "Update" %></div>
<% end %>

<%= link_to "Back", :back %>

</div>
</div>
